.bg-green {
    background-color: #0CD977;
}
.btn.bg-green {
    color: white;
}
.text-blue {
    color: #001533;
}
section {
    background-color: white;
    border-radius: 50px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}